body {
    font-family: 'Martel Sans', sans-serif;
    background-color: #141414;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000000c1;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: relative;
    width: 100%;

}

nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 4px 0;
}

nav .logo {
    font-size: 30px;
    color: #E50914;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}

.left-nav-side {
    display: flex;
    align-items: center;
}

.left-nav-side svg {
    color: white;
    width: 25px;
}

.search-bar {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background-color: #000000c1;
    color: #ffffff;
}

nav .sign-out {
    color: #ffffff;
    text-decoration: none;
    background-color: #E50914;
    padding: 0px 15px;
    border-radius: 3px;
    margin-left: 15px;
}

.sign-disappear {
    display: none;
}

.hero-video {
    width: 100%;
    position: relative;
    z-index: 1;
}

.hero-video video {
    width: 100%;
}

.hero-video::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0000007a;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-content {
    position: absolute;
    top: 15%;
    padding: 0 30px;
    z-index: 1;
    display: block;
}

.header-show-img img {
    width: 200px;
}


.header-show-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-show-description {
    color: #ffffff;
    font-size: 14px;
    display: none;
}

.header-show-description .title {
    font-size: 20px;
    font-weight: 700;
}

.volume-container {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 20px;
    height: 40px;
    position: absolute;
    top: 35%;
    left: 100%;
}

.volume-container .mute {
    position: relative;
    top: 0%;
    width: 40px;
    display: block;
}

.volume-container .play {
    position: relative;
    top: 0%;
    width: 40px;
    display: none;
}

.paragraph {
    margin: 0;
}

.play-button {
    display: none;
}

.header-buttons {
    display: none;
}

.movie-container {
    z-index: 2;
    color: white;
    width: 40%;
    /* background-color: green; */
}

.movie-img {
    width: 250px;
    height: 200px;
    object-fit: contain;
}

.movie-description {
    position: relative;
    bottom: 40px;
    width: 100%;
}

.movie-name {
    color: #ffffff;
    margin: 0;
    font-size: 20px;
    padding: 10px 0 0 10px;
    position: relative;
    right: 10px;
}

.imdb-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating {
    display: flex;
    align-items: center;
}

.rating svg {
    width: 20px;
    padding-right: 5px;
    color: gold;
}

.movie-year p {
    display: flex;
}

.movie-flex-container {
    margin: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.movie-img {
    width: 200px;
}

/* SEARCH BAR CODE */
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 15px;
    width: 0px;
    border-style: none;
    padding: 10px 0;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #000000;
    padding-right: 40px;
    color: #fff;
}

/* CREATED CLASS FOR SEARCH BAR */
.zero-input {
    width: 125px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 0px;
    height: 35px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 7px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

/* SEARCH BAR CODE */


@media only screen and (min-width: 700px) {
    .volume-container {
        display: none;
    }

    .header-show-description {
        display: block;
    }

    .header-show-description .title {
        font-size: 30px;
    }

    .paragraph {
        font-size: 18px;
        width: 50%;
    }

    .header-buttons {
        display: block;
        position: relative;
        margin-top: 15px;
    }

    .play-button {
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 1;
    }

    .play-button button {
        height: 50px;
        width: 145px;
        font-size: 18px;
        font-weight: 600;
        border: 0;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
    }

    .play-button button span {
        position: relative;
        cursor: pointer;
        left: 10px;
    }

    .play-button svg {
        position: absolute;
        left: 5px;
        width: 30px;
        color: black;
        z-index: 1;
        cursor: pointer;
    }

    .mute-button {
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 1;
    }

    .mute-button button {
        height: 50px;
        width: 145px;
        font-size: 18px;
        font-weight: 600;
        border: 0;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
    }

    .mute-button button {
        height: 50px;
        width: 145px;
        font-size: 18px;
        font-weight: 600;
        border: 0;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
    }

    .mute-button button span {
        position: relative;
        left: 10px;
        cursor: pointer;
    }

    .mute-button svg {
        position: absolute;
        left: 5px;
        width: 30px;
        color: black;
        z-index: 1;
        cursor: pointer;
    }

    .movie-description {
        width: 80%;
    }

    .movie-flex-container {
        margin: 30px 0 0;
        align-items: start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .movie-container {
        width: 30%;
        margin: 0 10px;
    }

    .sign-disappear {
        display: block;
        align-items: ;
    }

    .zero-input {
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
}


@media only screen and (min-width: 1200px) {
    .header-content {
        top: 30%;
    }

    .movie-container {
        width: 20%;
        margin: 0 10px;
    }

    .movie-description {
        display: flex;
        width: 65%;
        /* background-color: brown; */
    }

    .movie-name {
        /* background-color: red; */
        width: 100%;
    }
}