body {
    font-family: 'Martel Sans', sans-serif;
    background-color: #141414;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000000c1;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: relative;
    width: 100%;

}

nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 4px 0;
}

nav .logo {
    font-size: 30px;
    color: #E50914;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}

.left-nav-side {
    display: flex;
}

.left-nav-side svg {
    color: white;
    width: 25px;
}

.search-bar {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background-color: #000000c1;
    color: #ffffff;
}

nav .sign-out {
    color: #ffffff;
    text-decoration: none;
    background-color: #E50914;
    padding: 0px 15px;
    border-radius: 3px;
    margin-left: 15px;
}

header video {
    width: 100%;
    position: absolute;
    top: 0;
}

.fade-container {
    position: relative;
    height: 32vh;
    background-color: #0000007a;
    z-index: 1;
}

.header-content {
    position: absolute;
    top: 10%;
    padding: 0 30px;
    z-index: 1;
    display: block;
}

.header-show-img img {
    width: 200px;
}


.header-show-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-show-description {
    color: #ffffff;
    font-size: 14px;
    display: none;
}

.header-show-description .title {
    font-size: 20px;
    font-weight: 700;
}

.volume-container {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 20px;
    height: 40px;
    position: absolute;
    top: 35%;
    left: 100%;
}

.volume-container .mute {
    position: relative;
    top: 0%;
    width: 40px;
    display: block;
}

.volume-container .play {
    position: relative;
    top: 0%;
    width: 40px;
    display: none;
}

.paragraph {
    margin: 0;
}

.play-button {
    display: none;
}

.header-buttons {
    display: none;
}

.movie-container {
    z-index: 2;
    color: white;
}

.movie-img {
    width: 250px;
    height: 200px;
    object-fit: contain;
}

.movie-description {
    position: relative;
    bottom: 40px;
    width: 100%;
}

.movie-name {
    color: #ffffff;
    margin: 0;
    font-size: 20px;
    padding: 10px 0 0 10px;
    position: relative;
    right: 10px;
}

.imdb-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating {
    display: flex;
    align-items: center;
}

.rating svg {
    width: 20px;
    padding-right: 5px;
    color: gold;
}

.movie-year p {
    display: flex;
}

.movie-flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

@media only screen and (min-width: 700px) {
    .fade-container {
        position: relative;
        height: 34vh;
        background-color: #0000007a;
        z-index: 1;
    }

    .header-show-description {
        display: block;
    }

    .header-show-description .title {
        font-size: 30px;
    }

    .paragraph {
        font-size: 18px;
        width: 50%;
    }

    .movie-container {
        z-index: 2;
        color: white;
    }

    .movie-description {
        position: relative;
        bottom: 40px;
        width: 90%;
    }

    .movie-flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}


@media only screen and (min-width: 1200px) {
    .header-content {
        position: absolute;
        top: 30%;
        z-index: 1;
        display: block;
    }

    .fade-container {
        position: relative;
        height: 112vh;
        background-color: #0000007a;
        z-index: 1;
    }

    .volume-container {
        display: none;
    }

    .header-buttons {
        display: block;
    }

    .play-button {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 28%;
        left: -.7%;
        z-index: 1;
    }

    .play-button button {
        height: 50px;
        width: 145px;
        font-size: 18px;
        font-weight: 600;
        border: 0;
        border-radius: 5px;
        position: relative;
        left: 40px;
        cursor: pointer;
    }

    .play-button button span {
        position: relative;
        left: 15px;
        cursor: pointer;
    }

    .play-button svg {
        position: absolute;
        left: 35%;
        width: 30px;
        color: black;
        z-index: 1;
        cursor: pointer;
    }

    .mute-button {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 28%;
        left: -.7%;
        z-index: 1;
    }

    .mute-button button {
        height: 50px;
        width: 145px;
        font-size: 18px;
        font-weight: 600;
        border: 0;
        border-radius: 5px;
        position: relative;
        left: 40px;
        cursor: pointer;
    }

    .mute-button button {
        height: 50px;
        width: 145px;
        font-size: 18px;
        font-weight: 600;
        border: 0;
        border-radius: 5px;
        position: relative;
        left: 40px;
        cursor: pointer;
    }

    .mute-button button span {
        position: relative;
        left: 15px;
        cursor: pointer;
    }

    .mute-button svg {
        position: absolute;
        left: 35%;
        width: 30px;
        color: black;
        z-index: 1;
        cursor: pointer;
    }

    .movie-description {
        position: relative;
        bottom: 40px;
        width: 100%;
    }

    .movie-flex-container {
        display: flex;
        flex-direction: row;
    }
}